* {
  box-sizing: border-box;
  margin: 0; }

body {
  margin: 0;
  height: 100vh; }
  body div.wrapper {
    display: flex;
    flex-direction: column; }
    body div.wrapper div#play-area {
      display: flex;
      justify-content: space-around; }
      body div.wrapper div#play-area div#game div#board {
        display: flex;
        flex-flow: row wrap;
        width: 300px; }
        body div.wrapper div#play-area div#game div#board div.board-square {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 30px;
          border: 2px solid grey;
          color: grey; }
          body div.wrapper div#play-area div#game div#board div.board-square.i-projection {
            background-color: pink; }
          body div.wrapper div#play-area div#game div#board div.board-square.j-projection {
            background-color: lightgreen; }
          body div.wrapper div#play-area div#game div#board div.board-square.l-projection {
            background-color: lightblue; }
          body div.wrapper div#play-area div#game div#board div.board-square.o-projection {
            background-color: lightyellow; }
          body div.wrapper div#play-area div#game div#board div.board-square.s-projection {
            background-color: #c53fc5; }
          body div.wrapper div#play-area div#game div#board div.board-square.t-projection {
            background-color: lightgrey; }
          body div.wrapper div#play-area div#game div#board div.board-square.z-projection {
            background-color: darkgrey; }
          body div.wrapper div#play-area div#game div#board div.board-square.i-square {
            background: red;
            border: 2px solid grey; }
          body div.wrapper div#play-area div#game div#board div.board-square.j-square {
            background: green; }
          body div.wrapper div#play-area div#game div#board div.board-square.l-square {
            background: blue; }
          body div.wrapper div#play-area div#game div#board div.board-square.o-square {
            background: gold; }
          body div.wrapper div#play-area div#game div#board div.board-square.s-square {
            background: purple; }
          body div.wrapper div#play-area div#game div#board div.board-square.t-square {
            background: lightgrey; }
          body div.wrapper div#play-area div#game div#board div.board-square.z-square {
            background: black; }
      body div.wrapper div#play-area div#next-three-display div.displayed-block {
        display: flex;
        flex-flow: row wrap;
        width: 120px; }
        body div.wrapper div#play-area div#next-three-display div.displayed-block div.next-display-square {
          width: 30px;
          height: 30px;
          border: 2px solid grey; }
    body div.wrapper div#game-over-display {
      display: flex;
      position: relative;
      top: -400px;
      left: 50px;
      width: 200px;
      background-color: white;
      border: 2px solid black; }

/*# sourceMappingURL=style.css.map */
