$squareWidth: 30px;
$boardWidth: 10;
$testColor: #ffe599;


* {
  box-sizing: border-box;
}

body {
  margin: 0;

  #game {

    #board {
      display: flex;
      flex-flow: row wrap;
      width: $squareWidth * $boardWidth;

      .square {
        display: flex;
        justify-content: center;
        align-items: center;
        width: $squareWidth;
        height: $squareWidth;
        border: 2px solid grey;
        color: grey;

        &.full {
          background-color: $testColor;
        }
      }
    }
  }
}
