$squareWidth: 30px;
$boardWidth: 10;
$testColor: #ffe599;


* {
  box-sizing: border-box;
  margin: 0
}

body {
  margin: 0;
  height: 100vh;

  div.wrapper {
    display: flex;
    flex-direction: column;

    div#play-area {
      display: flex;
      justify-content: space-around;

      div#game {

        div#board {
          display: flex;
          flex-flow: row wrap;
          width: $squareWidth * $boardWidth;

          div.board-square {
            display: flex;
            justify-content: center;
            align-items: center;
            width: $squareWidth;
            height: $squareWidth;
            border: 2px solid grey;
            color: grey;

            &.i-projection {
              background-color: pink;
            }

            &.j-projection {
              background-color: lightgreen;
            }

            &.l-projection {
              background-color: lightblue;
            }

            &.o-projection {
              background-color: lightyellow;
            }

            &.s-projection {
              background-color: #c53fc5;
            }

            &.t-projection {
              background-color: lightgrey;
            }

            &.z-projection {
              background-color: darkgrey;
            }

            &.i-square {
              background: red;
              border: 2px solid grey;
            }

            &.j-square {
              background: green;
            }

            &.l-square {
              background: blue;
            }

            &.o-square {
              background: gold;
            }

            &.s-square {
              background: purple;
            }

            &.t-square {
              background: lightgrey;
            }

            &.z-square {
              background: black;
            }

          }
        }
      }

      div#next-three-display {

        div.displayed-block {
          display: flex;
          flex-flow: row wrap;
          width: $squareWidth * 4;

          div.next-display-square {
            width: $squareWidth;
            height: $squareWidth;
            border: 2px solid grey;
          }
        }
      }
    }

    div#game-over-display {
      display: flex;
      position: relative;
      top: -400px;
      left: 50px;
      width: 200px;
      background-color: white;
      border: 2px solid black;
    }
  }
}
