$squareWidth: 35px;
$boardWidth: 10;
$testColor: #ffe599;
$squareBorder: 1px solid grey;


* {
  box-sizing: border-box;
  margin: 0
}

body {
  display: flex;
  justify-content: space-around;
  margin: 0;
  height: 100vh;

  div.wrapper {
    display: flex;
    flex-direction: column;
    width: $squareWidth * 17;

    div#play-area {
      display: flex;
      justify-content: space-around;

      div#game {
        background: white;

        div#board {
          display: flex;
          flex-flow: row wrap;
          width: $squareWidth * $boardWidth;
          background-color: #F7ECE1;
          width: $squareWidth * 10.04;
          border: $squareBorder;
          border-left: none;
          border-bottom: none;

          div.board-square {
            display: flex;
            justify-content: center;
            align-items: center;
            width: $squareWidth;
            height: $squareWidth;
            border: 1px solid grey;
            border-right: none;
            border-top: none;
            color: grey;
          }
        }

        button#start-reset {
          width: 100%;
        }
      }

      div#next-three-display {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: $squareWidth * 5;
        height: $squareWidth * 8;
        border: 2px solid black;
        background: white;

        div.queued-block {
          display: flex;
          flex-flow: row wrap;
          width: $squareWidth * 4;

          div.next-display-square {
            width: $squareWidth;
            height: $squareWidth;
            border: $squareBorder;
          }
        }
      }

      div.i-projection {
        background-color: pink;
      }

      div.j-projection {
        background-color: #B7B868;
      }

      div.l-projection {
        background-color: lightblue;
      }

      div.o-projection {
        background-color: lightyellow;
      }

      div.s-projection {
        background-color: #c53fc5;
      }

      div.t-projection {
        background-color: #F2B880;
      }

      div.z-projection {
        background-color: #B7B868;
      }

      div.i-square {
        background-color: #5EB1BF;
      }

      div.j-square {
        background-color: #03CEA4;
      }

      div.l-square {
        background-color: #ec8473;
      }

      div.o-square {
        background-color: #FFE066;
      }

      div.s-square {
        background-color: #bbacef;
      }

      div.t-square {
        background-color: #E0BAD7;
      }

      div.z-square {
        background-color: #F2B880;
      }
    }

    div#game-over-display {
      position: relative;
      top: -400px;
      left: $squareWidth * 3.23;
      display: flex;
      flex-direction: column;
      width: $squareWidth * 6;
      background-color: white;
      border: 4px solid black;
    }
  }
}
